NAMESPACE=symfony_docker
COMPOSE_PROJECT_NAME=${NAMESPACE}
DOMAINE_PUBLIC=symfony-docker.traefik.me
SERVER_PHP=symfony_docker_app
HOST=symfony_docker.traefik.me

DB_HOST=symfony_docker_db
DB_NAME='symfony_docker_db'
DB_USER='symfony_docker_user'
DB_PASSWORD='secret'

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'
KEY_PATH=docker/etc/key/id_rsa

# Assets bundler
BROWSERSYNC_PORT=3000
BROWSERSYNC_PORT_UI=3001
HOT_RELOAD_PORT=8081

PHPSTAN_PRO_WEB_PORT=11111

# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f3eb09f2f44b0aa8f6e0b328882cd801
###< symfony/framework-bundle ###
